# Entorn virtual
venv/

# Fitxers compilats de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd


# Altres
*.log
.DS_Store
Thumbs.db

scripts/mlruns

Team 11B_Entrega_BDA_Gerard_Eloi
Team 11B_Entrega_BDA_Gerard_Eloi.zip